body {
  /* background: url('./background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px); */
  background-color: #0D3B2E;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
}